<html>

<head>
    <title>Test Website</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.css" rel="stylesheet">
    </link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>

<body class="bg-gray-800">
    <div id="app" class="container mx-auto text-white">
        <h1 class="text-xl">Test REST API</h1>
        <p class="mb-2">{{message}}</p>

        <div class="flex flex-row">
            <div class="w-1/2 mb-2">
                <label class="block text-gray-200 font-bold mb-2">Number: </label><input
                    class="shadow appearance-none border rounded w-1/3 py-2 px-3 mb-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    v-model="id" type="number" class />
                <label class="block text-gray-200 font-bold mb-2">Query: </label><input
                    class="shadow appearance-none border rounded w-1/3 py-2 px-3 mb-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    v-model="query" type="text" />
                <div>
                    <button class="rounded shadow bg-blue-600 hover:bg-blue-400 p-2" @click="onGetData">Test GET
                        Connection</button>
                    <div v-if="result">
                        <p class="text-green-500">Result of REST API request: {{result}}</p>
                    </div>
                </div>
                <div>
                    <h1 class="text-xl">Test Download Content</h1>
                    <button class="rounded shadow bg-blue-600 hover:bg-blue-400 p-2" @click="onGetDownload">Test
                        Download
                        Content</button>
                    <div v-if="download">
                        <p class="text-green-500">Result of Download request: {{download}}</p>
                    </div>
                </div>
                <div>
                    <h1 class="text-xl">Test Download File</h1>
                    <button class="rounded shadow bg-blue-600 hover:bg-blue-400 p-2" @click="onGetPdf">Test Download
                        File</button>
                    <div v-if="download_file">
                        <p class="text-green-500">Result of Download request: {{download_file}}</p>
                    </div>
                </div>

            </div>

            <div class="w-1/2 mb-2">
                <h1 class="text-xl">Test Download Courses</h1>
                <button class="p-2 m-2 rounded shadow bg-blue-600 hover:bg-blue-400 p-2" @click="onGetCourses">Test
                    Download
                    Courses</button>
                <ul v-for="course in courses">
                    <li class="p-2 m-2 rounded text-green-500 bg-gray-700" @click="onGetCourse(course.id)">
                        <p>Id: {{course.id}}</p>
                        <p>Name: {{course.name}}</p>
                        <p>Version: {{course.version}}</p>
                    </li>
                </ul>
                <div v-if="selected_course" class="p-2 m-2 rounded text-red-500 bg-gray-700">
                    <p>Id: {{selected_course.id}}</p>
                    <p>Name: {{selected_course.name}}</p>
                    <p>Version: {{selected_course.version}}</p>
                </div>
            </div>
        </div>

    </div>
    <script>
        vm = new Vue({
            el: '#app',
            data: {
                message: 'Test websocket and rest api',
                id: 0,
                query: '',
                result: '',
                download: '',
                download_file: '',
                courses: [],
                selected_course: null,
            },
            methods: {
                onGetData: function () {
                    console.log("Running web request")
                    url = '/api/items/' + this.id + '?q=' + this.query
                    axios.get(url).then((response) => {
                        this.result = JSON.stringify(response.data)
                        console.log(this.result)
                    })
                },
                onGetDownload: function () {
                    console.log("Running web request")
                    url = '/api/downloads/assets/23'
                    axios.get(url).then((response) => {
                        this.download = JSON.stringify(response.data)
                        console.log(this.download)
                    })
                },
                // Horrible hack to trigger download via ajax
                // Better solution would be to generate one time download token
                // and redirect to a url to get the file
                onGetPdf: function () {
                    console.log("Running getpdf web request")
                    axios({
                        url: '/api/downloads/pdf',
                        method: 'GET',
                        responseType: 'blob', // Notes say important but works without it...
                    }).then((response) => {
                        console.log("Content-Disposition: " + response.headers['content-disposition'])
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'file.pdf');
                        document.body.appendChild(link);
                        link.click();
                    });
                },
                onGetCourses: function () {
                    url = "/api/academy-app/courses"
                    axios.get(url).then((response) => {
                        this.courses = response.data.courses
                    })
                },
                onGetCourse: function (id) {
                    url = "/api/academy-app/courses/" + id
                    axios.get(url).then((response) => {
                        this.selected_course = response.data.course
                    })
                }
            }
        })
    </script>
</body>

</html>